<!-- Métodos de pago -->
  <section class="py-12 bg-slate-200 dark:bg-slate-800/40 border-y border-slate-300 dark:border-white/10">
    <div class="max-w-7xl mx-auto px-6">
      <div
        class="grid grid-cols-2 md:grid-cols-7 justify-items-center items-center gap-14 text-slate-600 dark:text-slate-300">

        <!-- PAGO SEGURO -->
        <div class="flex items-center gap-5 md:col-span-2">
          <i class="fa-solid fa-shield-halved text-5xl text-slate-700 dark:text-slate-100"></i>
          <div class="leading-tight">
            <p class="font-extrabold uppercase text-lg md:text-xl text-slate-800 dark:text-white tracking-wider">
              Pago Seguro
            </p>
            <p class="text-sm md:text-base font-semibold uppercase tracking-wide text-slate-600 dark:text-slate-300">
              Compre Fácil
            </p>
          </div>
        </div>

        <!-- Entrega en Tienda -->
        <div class="flex flex-col items-center gap-3">
          <i class="fa-solid fa-shop text-3xl"></i>
          <span class="text-sm font-medium">Entrega en Tienda</span>
        </div>

        <!-- Visa -->
        <div class="flex flex-col items-center gap-3">
          <i class="fa-brands fa-cc-visa text-3xl"></i>
          <span class="text-sm font-medium">Visa</span>
        </div>

        <!-- MasterCard -->
        <div class="flex flex-col items-center gap-3">
          <i class="fa-brands fa-cc-mastercard text-3xl"></i>
          <span class="text-sm font-medium">MasterCard</span>
        </div>

        <!-- Transferencia -->
        <div class="flex flex-col items-center gap-3">
          <i class="fa-solid fa-arrow-right-arrow-left text-3xl"></i>
          <span class="text-sm font-medium">Transferencia</span>
        </div>

        <!-- Depósito en agencia -->
        <div class="flex flex-col items-center gap-3">
          <i class="fa-solid fa-building-columns text-3xl"></i>
          <span class="text-sm font-medium">Depósito seguro</span>
        </div>

      </div>
    </div>
  </section>